.navbar {
  background-color: #88e5ee;
}
.navbar .navbar-brand {
  color: #066076;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:visited {
  color: #066076;
}
.navbar .navbar-text {
  color: #066076;
}
.navbar .navbar-nav .nav-link {
  color: #066076;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus,
.navbar .navbar-nav .nav-link:not(.disabled):visited {
  color: #066076;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.active .nav-link:visited,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link:visited {
  color: #066076;
  background-color: #f3f4b2;
}
.navbar .navbar-toggle {
  border-color: #f3f4b2;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:visited  {
  background-color: #f3f4b2;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #066076;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #066076;
}
.navbar .navbar-link {
  color: #066076;
}
.navbar .navbar-link:hover {
  color: #066076;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #066076;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:visited  {
    color: #066076;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #066076;
    background-color: #f3f4b2;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #066076;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:visited  {
    color: #066076;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #066076;
    background-color: #f3f4b2;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #066076;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:visited  {
    color: #066076;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #066076;
    background-color: #f3f4b2;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #066076;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:visited  {
    color: #066076;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #066076;
    background-color: #f3f4b2;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #066076;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:visited {
  color: #066076;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #066076;
  background-color: #f3f4b2;
}
